
/TraceAndTestImpact.testsettings
/Common.I18n.suo
/Common.I18n.vsmdi
/Local.testsettings
/_ReSharper.Common.I18n
/Common.I18n/bin
/Common.I18n/obj
/Common.I18n.Tests/bin
/Common.I18n.Tests/obj
/SampleApp/bin
/SampleApp/obj
/TestResults
/Common.I18n.6.0.ReSharper.user